/* eslint-disable */
/**柯礼钦
 * 4/3/2020, 9:38:37 AM
 * doc comment for the file goes here
 */

/** Happy Coding */
.breadcrumb-view {
  &-main {
    padding: 18px 18px 0 18px;
    .ant-breadcrumb {
      font-family: PingFangSC-Medium;
      font-size: 16px;
      color: #333333;
      font-weight: bold;
      margin-bottom: 20px;
    }
  }
}
