/* eslint-disable */
/**文浩
 * 5/25/2020, 4:26:00 PM
 * doc comment for the file goes here
 */

/** Happy Coding */
.laws-list {
  &-main {
    em {
      font-style: normal;
      color: #409eff;
    }
    & .ant-divider-horizontal {
      margin: 2px 0;
    }
    & .ant-btn:active,
    .ant-btn.active {
      color: none;
      background-color: #fff;
      border-color: none;
    }
  }
  &-item {
    padding: 20px 10px 5px 10px;
    border-bottom: 1px solid #e6e8ed;
    &-code_name {
      font-size: 18px;
      font-weight: 600;
      font-stretch: normal;
      letter-spacing: 0;
      color: #333;
      cursor: pointer;
    }
    &-tags {
      margin: 12px 0;
      font-size: 12px;
      color: #999;
    }
    &-clause_text {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block;
      font-size: 14px;
      font-weight: 400;
      font-stretch: normal;
      letter-spacing: 0.4px;
      color: #666;
      line-height: 26px;
      padding: 3.5px 0;
      margin-top: 4px;
    }
    &-show_detail-btn {
      text-align: center;
      width: 100%;
      height: 24px;
      line-height: 20px;
      padding: 0;
      font-size: 12px;
      color: #aeb7bf;
      background-image: -webkit-gradient(
          linear,
          left bottom,
          left top,
          from(#f5f6fa),
          to(#fff)
        ),
        -webkit-gradient(linear, left top, left bottom, from(#e6e8ed), to(#e6e8ed)) !important;
      background-image: linear-gradient(0deg, #f5f6fa, #fff),
        linear-gradient(#e6e8ed, #e6e8ed) !important;
      background-blend-mode: normal, normal !important;
      border-radius: 3px !important;
      border: 1px solid #eef1f8 !important;
      margin: 2px 0;
      cursor: pointer;
    }
  }
}
