.login-main {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  // background-image: url('../../asset/image/background.png');
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#v_container {
  width: 100px;
  height: 40px;
}
.login-main .login-form {
  min-width: 320px;
}
.login-main .login-form-forgot {
  float: right;
}
.login-main .login-form-button {
  width: 32vh;
  height: 5vh;
}

.login-div-top-img {
  margin: 0 20px 0 10px;
  width: 60px;
}

.login-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-div-top {
  margin-top: 40px;
  width: 80%;
  font-size: 30px;
  font-family: 'DFPLiJinHeiW8';
  color: #fff;
  letter-spacing: 3px;
  display: flex;
  align-items: center;
}

.login-div-content {
  margin-top: 25px;
  height: 75%;
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  & .ant-input {
    background: #ffffff;
    box-shadow: inset 0 -1px 0 0 #13a3dd;
    border: none;
    border-radius: 0;
  }
  &-left {
    width: 55%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    // background-image: url('../../asset/image/bg-card.png');
    position: absolute;
    left: 0;
  }
  &-right {
    // flex: 1;
    width: 80%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px 0;
    &-form {
      width: 100%;
      height: 100%;
      background: #fff;
      box-sizing: border-box;
      border-radius: 20px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      &-content {
        height: 80%;
        width: 60%;

        &-title {
          font-family: PingFang-SC-Bold;
          font-size: 24px;
          color: #666666;
          text-align: center;
          line-height: 32px;
          margin: 10% 0 7% 0;
        }
      }
    }
  }
}

.login-div-bottom {
  height: 10vh;
  width: 100%;
  font-family: PingFangTC-Regular;
  font-size: 14px;
  color: #333333;
  text-align: center;
  line-height: 10vh;
}

.login-div-content-div {
  width: 40.8vh;
  background: #fff;
  height: 44.8vh;
  position: absolute;
  right: 19vh;
  border-radius: 8px;
  margin-top: 10vh;
}
.login-div-content-div-title {
  padding: 24px;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.login-div-content-form-flex {
  display: flex;
  justify-content: center;
}
