.menu-view {
  &-main {
    & .ant-menu-item .anticon, .ant-menu-submenu-title .anticon {
      min-width: 0;
    }
    & .ant-menu-vertical > .ant-menu-item, .ant-menu-vertical-left > .ant-menu-item, .ant-menu-vertical-right > .ant-menu-item, .ant-menu-inline > .ant-menu-item, .ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-vertical-left > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-vertical-right > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title{
      height: 35px;
      line-height: 35px;
    }
  }
}

.pro-div {
  background-color: #13A3DE;
  padding: 16px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  &-right {
    font-size: 17px;
    font-family: 'DFPLiJinHeiW8';
    color: rgba(255, 255, 255, 1);
    line-height: 20px;
    &-top {
      letter-spacing: 1px;
      font-size: 20px;
      text-align: center;
    }
    &-bottom {
      font-size: 17px;
      margin-top: 10px;
      letter-spacing: 3px;
    }
  }
}

.pro-div-logo {
  width: 44px;
  height: 44px;
  img {
    width: 100%;
    height: 100%;
  }
}
