/* eslint-disable */
/**柯礼钦
 * 4/3/2020, 3:00:49 PM
 * doc comment for the file goes here
 */

/** Happy Coding */
.search-form-view {
  &-main {
    & .ant-card-grid {
      padding: 10px 20px 0 10px;
      box-shadow: none;
    }
    &-margin-bottom {
      margin-bottom: 18px;
    }
    .ant-form-item {
      margin-bottom: 0 !important;
      display: flex;
    }
    .ant-form-item-control-wrapper {
      flex: 1;
    }
  }
}
